{%extends 'base.html' %}

{% block content%}
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Year</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
                <tr>
                    <td>
                    <a href="{% url 'movies:detail' movie.id %}">{{ movie.title }}</a></td>
                    <td>{{ movie.release_year }}</td>
                    <td>{{ movie.genre }}</td>
                    <td>{{ movie.ratings }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}